@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto+Condensed:ital@1&display=swap');

html, body {
  height:100%;
}

body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: white;
}

header {
    display: flex;
    background: none;
    height: 130px;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    flex-grow: 4;
    gap: 180px;
    position: absolute;
    align-items: center;
    z-index: 2;
}

.first-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  width: 30%;
}

.first-header > a > img {
    width: 150px;
    padding: 15px;
}

#active, .menu-btn, .close, .wrapper {
    display: none;
}

.underline-text {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  color: rgb(220,0,255);
  text-decoration: none;
}

.underline-text::before {
  content: "";
  position: absolute;
  display: block;
  width: 110%;
  height: 2px;
  bottom: -2px;
  right: -4px;
  background-color: rgb(220,0,255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.underline-text:hover::before {
  transform: scaleX(1);
}

.logos {
  margin-right: 20px;
}

.logos > a > img {
  margin-right: 30px;
  transition: 1s;
}

.logos > a > img:hover {
  transform: scale(1.1);
}

/*----------MAIN------------*/

main { 
  display: flex;
  flex-flow: row wrap;
  gap: 100px;
  min-height:100%;
  justify-content: center;
}

.search {
  position: absolute;
  width: 250px;
  height: 40px;
  margin-top: 320px;
  border: none;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  border-radius: 50px;
}

.search[type=text] {
  padding-left: 40px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.03s;
}

.search[type=text]:focus {
  outline: solid rgb(220,0,255);
}

.contact {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 200px;
  margin-bottom: 100px;
}

.contact > textarea {
  border: solid rgb(220,0,255);
  background-color: rgba(129,129,129,0.1);
  font-family: 'Montserrat', sans-serif;
  padding: 30px;
  border-radius: 50px;
  transition: 1s;
}

.contact > textarea:focus {
  outline: rgb(220,0,255);
  transform: scale(1.03);
}

.contact > button {
  font-size: large;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  border: none;
  font-family: 'Montserrat', sans-serif;
  transition: 0.01s;
}

.reset:hover {
  border-bottom: solid red;
  margin-bottom: -10px;
}

.post:hover {
  border-bottom: solid rgb(93,217,0);
  margin-bottom: -10px;
}

.na-topie {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    gap: 100px;
    background: url(images/index-bg-top.jpg);
}

.na-topie_hd {
  background: url(images/bg_hd_na-topie.jpg);
}

.na-lato {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  gap: 100px;
  background: rgb(93,217,0);
  background: -moz-linear-gradient(180deg, rgba(93,217,0,1) 0%, rgba(100,223,0,1) 21%, rgba(97,218,0,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(93,217,0,1) 0%, rgba(100,223,0,1) 21%, rgba(97,218,0,1) 100%);
  background: linear-gradient(180deg, rgba(93,217,0,1) 0%, rgba(100,223,0,1) 21%, rgba(97,218,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5dd900",endColorstr="#61da00",GradientType=1);
}

.na-lato_hd {
  background: url(images/bg_hd_lato.jpg);
}

.do-biegania {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  gap: 100px;
  background: rgb(87,87,87);
  background: -moz-linear-gradient(180deg, rgba(87,87,87,1) 0%, rgba(129,129,129,1) 46%, rgba(106,106,106,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(87,87,87,1) 0%, rgba(129,129,129,1) 46%, rgba(106,106,106,1) 100%);
  background: linear-gradient(180deg, rgba(87,87,87,1) 0%, rgba(129,129,129,1) 46%, rgba(106,106,106,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#575757",endColorstr="#6a6a6a",GradientType=1);
}

.do-biegania_hd {
  background: url(images/bg_hd_do-biegania.jpg);
}

.na-topie_hd, .na-lato_hd, .do-biegania_hd {
  display: flex;
  margin-top: 130px;
  margin-bottom: -100px;
  width: 100%;
  height: 110px;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
}

.categories {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

.introduce-categories:not(.na-topie > .introduce-categories) {
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 400px;
    font-size: 40px;
}

.na-topie > .categories > .introduce-categories {
  font-family: 'Montserrat', sans-serif;
  color: black;
  width: 400px;
  font-size: 40px;
}

.introduce-categories > hr {
    width: 200px;
    float: left;
    border: solid;
}

.introduce-categories_title {
    font-size: 60px;
    font-weight: 600;
}

.introduce-categories_na-topie {
  color: rgb(220,0,255);
  font-size: 60px;
  font-weight: 600;
}

.categories > img {
    margin-left: 60px;
}

.main-div-categories{
  display: flex;
  flex-flow: row wrap;
  margin-top: 200px;
  margin-bottom: 80px;
  gap: 50px;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}

.div-categories {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: whitesmoke;
  border-radius: 5%;
  height: 300px;
  width: 300px;
  transition: all 0.5s ease;
}

.div-categories:hover {
  transform: scale(1.05);
}

.models {
  font-size: 12px;
}

.div-categories > img {
  height: 150px;
  width: 300px;
}

.kup {
  display: flex;
  color: white;
  background-color: red;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 100px;
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.2s;
  text-decoration: none;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.05);
}

.kup-text {
  color: whitesmoke;
}

.kup:hover {
  color: red;
  background-color: whitesmoke;
  padding: 5px;
  padding-left: 50px;
  border-radius: 100px;
  font-family: 'Montserrat', sans-serif;
}

.zobacz {
  font-size: 0px;
  color: rgb(220,0,255);
  background-color: white;
  padding: 8px;
  margin-bottom: 50px;
  border-radius: 100px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: 0.2s;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
}

.zobacz-text {
  color: white;
}

.zobacz:hover {
  display: flex;
  color: white;
  background-color: rgb(220,0,255);
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 100px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

/*----------FOOTER------------*/

footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid rgb(220,0,255);
  z-index: 2;
}

footer .autor {
  color: black;
  text-decoration: none;
  margin: 50px;
  font-weight: 500;
}

footer a {
  color: black;
  text-decoration: none;
  margin: 50px;
  transition: all 0.3s ease;
}

/*----------RESPONSIVE------------*/

@media (max-width: 1060px) {

    header > a,.logos:not(ul) {
        display: none;
    }

    header {
        gap: 600px;
    }

    header > img {
      width: 200px;
      padding: 2px;
    }

    .first-header {
      width: 30%;
    }

    .first-header > a:not(.first-header > a:first-child) {
      display: none;
    }

    .search {
      width: 400px;
      height: 80px;
    }
    
    .search[type=text] {
      font-size: 30px;
    }

    /*-------------------------------*/

    .menu-btn, .close, .wrapper {
        display: flex;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
      }

      .wrapper {
        position: fixed;
        top: 0;
        /*left: -100%;*/
        right: -100%;
        height: 100%;
        width: 100%;
        justify-content: center;
        background: #000;
        transition: all 0.6s ease-in-out;
      }

      .wrapper > img {
        margin-top: 80px;
        height: 180px;
        width: 400px;
      }

      #active:checked ~ .wrapper {
        right:0;
      }

      .menu-btn {
        position: absolute;
        z-index: 2;
        right: 20px;
        /*left: 20px; */
        top: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }

      .menu-btn > span, .menu-btn:before, .menu-btn:after {
          content: "";
          position: absolute;
          top: calc(50% - 1px);
          left: 30%;
          width: 40%;
          border-bottom: 2px solid #000;
          transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      .menu-btn:before {
        transform: translateY(-8px);
      }

      .menu-btn:after {
        transform: translateY(8px);
      }
      
      .close {
          z-index: 1;
          height: 100%;
          pointer-events: none;
          transition: 0.6s;
      }
      
      /* closing animation */
      #active:checked + .menu-btn span {
          transform: scaleX(0);
      }

      #active:checked + .menu-btn:before {
          transform: rotate(45deg);
        border-color: #fff;
      }

      #active:checked + .menu-btn:after {
          transform: rotate(-45deg);
        border-color: #fff;
      }

      .wrapper > ul {
        position: absolute;
        top: 58%;
        left: 46%;
        height: 80%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
      }

      .wrapper > ul > li {
        width: 800px;
        height: 10%;
      }

      .wrapper > ul > li > a {
        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
        padding: 5px 30px;
        border-radius: 50px;
        position: absolute;
        line-height: 50px;
        margin: 5px 30px;
        opacity: 0;
        transition: all 0.3s ease;
        transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      .underline-text-sec {
        font-family: 'Montserrat', sans-serif;
        position: relative;
        color: white;
        text-decoration: none;
      }
      
      .underline-text-sec::before {
        content: "";
        position: absolute;
        display: block;
        width: 110%;
        height: 2px;
        bottom: -2px;
        right: -4px;
        background-color: white;
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }
      
      .underline-text-sec:hover::before {
        transform: scaleX(1);
      }

      input[type="checkbox"]{
        display: none;
      }

      .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        text-align: center;
        width: 100%;
        color: #202020;
      }

      .content > .title{
        font-size: 40px;
        font-weight: 700;
      }

      .content > p{
        font-size: 35px;
        font-weight: 600;
      }
      
      #active:checked ~ .wrapper > ul > li > a{
        opacity: 1;
      }

      .wrapper > ul > li > a{
        transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateX(100px);
      }

      #active:checked ~ .wrapper > ul > li > a{
          transform: none;
          transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1);
         transition-delay: .6s;
        transform: translateX(-100px);
      }

    /*-------------------------------*/

    .contact {
      margin-top: 300px;
      transform: scale(1.3);
    }

    .na-topie {
        background: url(images/bg_na-topie_1280wdth.jpg);
        flex-flow: column;
    }

    .na-lato {
        background: url(images/bg_lato_1280wdth.jpg);
        flex-flow: column;
    }

    .do-biegania {
      background: url(images/bg_do-biegania_1280wdth.jpg);
      flex-flow: column;
    }

    .introduce-categories {
        margin-top: 50px;
        margin-left: 0px;
        margin-bottom: 50px;
        font-size: 31px;
        text-align: center;
    }

    .introduce-categories > hr {
        margin-left: 100px;
    }

    .categories > img {
        display: none;
    }

    .main-div-categories {
      margin-right: 10px;
      margin-left: 10px;
    }

    .div-categories {
      height: 420px;
      width: 420px;
      font-size: 150%;
    }

    .div-categories > img {
      height: 210px;
      width: 420px;
    }

    .models {
      font-size: 70%;
    }
}